.frame-bar {
    position: fixed;
    background-color: var(--border-frame-color);
    ebackground-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
    ebackground-blend-mode: overlay;
    opacity: 0.95;
    z-index: 9999;
    pointer-events: none;
}

.top {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--border-frame-size);
}
.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--border-frame-size);
}
.left {
    top: 0;
    left: 0;
    width: var(--border-frame-size);
    height: 100%;
}
.right {
    top: 0;
    right: 0;
    width: var(--border-frame-size);
    height: 100%;
}
