@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

:root {
    --border-frame-size: 20px;
    --border-frame-color: #161614;
}

body {
    margin: var(--border-frame-size);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* This disables both vertical and horizontal scrolling */
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.stage {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden; /* This forces iOS to clip the flying images */
}
