@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

:root {
    --border-frame-size: 20px;
    --border-frame-color: #161614;
}

body {
    margin: var(--border-frame-size);
}
