@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

:root {
    --border-frame-size: 15px;
    --border-frame-color: #161614;
}

body {
    margin: var(--border-frame-size);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* Remove height: 100% and overflow: hidden */
}

.stage {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden; /* Hides the plane when it's outside left/right */
    overflow-y: auto; /* Allows vertical scrolling if content is long */
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

nav,
main {
    max-width: 935px;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding: 20px;
}
